:root{
--clr-dark: #141c2e;
--clr-light: #f1f5f9;
--clr-accent: #471de1;
}

*,
*::before,
*::after{
    box-sizing: border-box;
}

body{
    margin: 5em 0 0 0;
    padding: 0;
    line-height: 1.61;
    word-spacing: 1.6px;
    font-family:'Roboto', sans-serif;
    color: var(--clr-dark);
    background-color: var(--clr-light);
}

.container{
    width: 100%;
    margin: 0 auto;
    border: 25px solid var(--clr-dark);
}
.item{
    padding: 0.5em ;
    background-color:#fb7185 ;
    font-weight:700 ;
    color: var(--clr-light) ;
    border:10px solid var(--clr-accent) ;
}